.cardContentProfile {
    transition: max-height 400ms ease-in-out;
    overflow: hidden;
    max-height: 64px; /* Default height for collapsed state */
}

.cardContentProfile.expanded {
    max-height: 800px; /* Large enough value to accommodate the content */
}

.arrow {
    transition: rotate 400ms ease-in-out;
    rotate: 0deg;
}

.arrow.rotated {
    rotate: 45deg; /* Large enough value to accommodate the content */
}



.decoratedText {
    cursor: pointer;
    text-decoration: double;
    border-bottom: 2px solid rgb(28, 153, 143);
}

.cardProfile {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; */
    ;
  }
  
  .bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 240px;
    z-index: 2;
    /* background: rgba(255, 255, 255, .95); */
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
  }
  
  .blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #00ffea;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
  }
  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
  